.intro_img img {
  display: block;
  max-width:100%;
  height: auto;
}
.instagram{
  width: 100%;
  height: 1000px;
  position: relative;
}
.instagram_ment {
  font-family: Arial;
  position: absolute;
  top:13%;
  left:50%;
  transform: translate(-50%, -50%);
}

/*instagram의 포지션을 relative로 주고 ment 포지션을 absolute로 주니까 div 멀쩡히 먹음, 왜?*/
