<div class="intro_page">
  <app-navi></app-navi>

  <div class="intro_img">
    <img src="../assets/introImg/IMG_6264.JPG"/>
    <img src="../assets/introImg/IMG_6263.JPG"/>
    <img src="../assets/introImg/IMG_6265.JPG"/>
    <img src="../assets/introImg/IMG_6266.JPG"/>
  </div>

  <div class="instagram">
    <div class="ment_photo">
      <div class="instagram_ment">Visit Our Instargram!</div>
      <div class="instagram_photo">
        <app-instagram-photo></app-instagram-photo>
      </div>
    </div>
  </div>

</div>


