.navi ul{
  margin: 0;
  padding: 2%;
  overflow: hidden;
  position: fixed;
  list-style-type: none;
}

.page ul {
  left: 50%;
  transform: translate(-50%);
}

.user ul {
  left: 83%;
}

.logo img{
  position: fixed;
  bottom: 75%;
  width: 300px;
  height: auto;
}
