.full_navi {
  position: fixed;
}

.logo{
  display: inline;
  position: absolute;
  left: 5%;
}

.logo img{
  width: 40%;
  height: auto;
}

.navi {
  position: relative;
  left:20%;
  display: inline;
  overflow: visible;
  list-style-type: none;
}

.page_navi {
  display: inline;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 33%;
}

.user_navi {
  float: right;
  display: inline;
  position: relative;
  left: 99%;
}


