.page_list {
  margin: 0;
  padding: 0;
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: brown;
  font-size: 20px;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  float: left;
  font-size: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: crimson;
}


span a{
  margin-right: 20px;
  display: inline;
  color: brown;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}


span {
  padding-top: 50px;
  padding-right:30px;
  padding-left:30px;
  float: left;
}

span :hover {
  color: crimson;
}
