.page_list {
  margin: 0;
  padding: 0;
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}


li a{
  display: inline;
  color: brown;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}


li {
  padding-top: 50px;

  float: left;
  padding-right:30px;
  padding-left:30px;
}

li :hover {
  color: crimson;
}
