span {
  padding-top: 50px;

  float: right;
  padding-right: 7px;
  padding-left: 7px;
}

span a{
  margin-right: 15px;
  display: inline;
  color: brown;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

span :hover {
  color: crimson;
}
